### Install colabcode to edit the file locally in VSCode

In [1]:
from google.colab import drive
drive.mount('/gdrive')

Mounted at /gdrive

In [2]:
# copy the code
! cp -r /gdrive/MyDrive/img-quality-assesment/nima/ /content/
# copy kaggle config and dataset metadata
! cp -r /gdrive/MyDrive/img-quality-assesment/.kaggle ~

# # unzip the file
! unzip -q /gdrive/MyDrive/nima-dataset/nima-dataset.zip -d /content/nima-dataset/

! cp /gdrive/MyDrive/img-quality-assesment/data/dataset-metadata.json /content/

### Clean the AVA dataset - remove corrup images

In [ ]:
import os
import nima as nima
from nima.utils.image_utils import clean_dataset
from nima.utils.ava_dataset_utils import make_ava_csv, make_ava_csv_score

p_dataset_dir = '/content/nima-dataset/ava'
img_dir = os.path.join(p_dataset_dir, 'images')
print(img_dir)
clean_dataset(img_dir)
make_ava_csv(p_dataset_dir)
make_ava_csv_score(p_dataset_dir)

/content/nima-dataset/ava/images

/usr/local/lib/python3.7/dist-packages/PIL/TiffImagePlugin.py:770: UserWarning: Possibly corrupt EXIF data.  Expecting to read 211288080 bytes but only got 0. Skipping tag 0
  " Skipping tag %s" % (size, len(data), tag)
/usr/local/lib/python3.7/dist-packages/PIL/TiffImagePlugin.py:770: UserWarning: Possibly corrupt EXIF data.  Expecting to read 131073 bytes but only got 10470. Skipping tag 582
  " Skipping tag %s" % (size, len(data), tag)
/usr/local/lib/python3.7/dist-packages/PIL/TiffImagePlugin.py:770: UserWarning: Possibly corrupt EXIF data.  Expecting to read 196867 bytes but only got 10474. Skipping tag 0
  " Skipping tag %s" % (size, len(data), tag)
/usr/local/lib/python3.7/dist-packages/PIL/TiffImagePlugin.py:788: UserWarning: Corrupt EXIF data.  Expecting to read 12 bytes but only got 5.
  warnings.warn(str(msg))
/usr/local/lib/python3.7/dist-packages/PIL/TiffImagePlugin.py:770: UserWarning: Possibly corrupt EXIF data.  Expecting to read 22046 bytes but only got 816. Skipping tag 700
  " Skipping tag %s" % (size, len(data), tag)
/usr/local/lib/python3.7/dist-packages/PIL/TiffImagePlugin.py:770: UserWarning: Possibly corrupt EXIF data.  Expecting to read 6690 bytes but only got 816. Skipping tag 34377
  " Skipping tag %s" % (size, len(data), tag)

#### Perform kaggle operations

In [ ]:
# ! pip install -q kaggle

os.chdir('/content/nima-dataset')
os.getcwd()
# # create a single zip file to upload to kaggle
! zip -rq /content/nima-dataset.zip ./*

# backup the dataset to drive
os.chdir('/content')
! cp /content/nima-dataset.zip /gdrive/MyDrive/nima-dataset/nima-dataset.zip

# Delete the folder to save space
# ! rm -rf /content/nima-dataset/

# ! mkdir /content/nima-dataset
# ! kaggle datasets version -p /content/nima-dataset "removed corrupt images"
! kaggle datasets create -p /content/nima-dataset

Starting upload for file nima-dataset.zip
Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.12 / client 1.5.4)
100% 22.6G/22.6G [07:22<00:00, 54.8MB/s]
Upload successful: nima-dataset.zip (23GB)
Your private Dataset is being created. Please check progress at /api/v1/datasets/status//maindolaamit/nima-dataset

In [ ]:
import numpy as np
from nima.utils.ava_dataset_utils import get_ava_csv_df, get_rating_columns
from nima.utils.preprocess import get_std_score, get_mean_quality_score, normalize_ratings


df = get_ava_csv_df(p_dataset_dir)
ratings_column = get_rating_columns()
df.insert(2, 'max_rating', df[ratings_column].apply(lambda row: np.argmax(row.to_numpy()) + 1, axis=1))
df.insert(3, 'mean_score', df[ratings_column].apply(lambda row: get_mean_quality_score(normalize_ratings(row))
                                                    , axis=1))
df.insert(4, 'std_score', df[ratings_column].apply(lambda row: get_std_score(normalize_ratings(row)), axis=1))
df.to_csv(os.path.join(p_dataset_dir, 'ava_with_scores.csv'), sep=',', header=True, index=False)
df.head()

   index image_id  max_rating  ...  tag_1  tag_2  challange_id
0      1   953619           5  ...      1     22          1396
1      2   953958           4  ...      1     21          1396
2      3   954184           6  ...      0      0          1396
3      4   954113           5  ...     15     21          1396
4      5   953980           5  ...     22     38          1396

[5 rows x 18 columns]

### Unrar the TID2013 dataset

In [ ]:
! mkdir /content/nima-dataset/tid2013
! unrar x /content/nima-dataset/tid2013.rar /content/nima-dataset/tid2013
! rm  /content/nima-dataset/tid2013.rar
! mv /content/nima-dataset/mos.csv /content/nima-dataset/tid2013/

#### move files in python

In [ ]:
import os 
from glob import glob
from pathlib import Path
files = glob('/content/nima-dataset/*.BMP')

if not os.path.isdir('/content/nima-dataset/tid2013'):
  os.mkdir('/content/nima-dataset/tid2013')

# [os.path.basename(file) for file in files[:5]]

for file in files:
  Path(file).rename('/content/nima-dataset/tid2013/'+os.path.basename(file))

#### Unarchive the ava dataset

In [ ]:
import os 
from glob import glob
from pathlib import Path
import zipfile
import tqdm

# get the available zip files
zip_files = glob('/content/nima-dataset/ava/images/*.zip')
zip_files[:5]

# loop for each zip file and extract the images
for zip_file in tqdm(zip_files):
  with zipfile.ZipFile(zip_file, 'r') as zip_ref:
    zip_ref.extractall('/content/nima-dataset/ava/images/')
  # delete zip file
  os.remove(zip_file)
  print(f'Extracted and removed file : {zip_file}')

[]

In [ ]:
! cp -r /content/nima-dataset/ /gdrive/MyDrive/nima-dataset-2

In [ ]:
# copy the data
# ! cp /gdrive/MyDrive/nima-dataset/nima-dataset.zip /content/
# ! unzip /content/nima-dataset.zip -d /content/
# ! rm /content/nima-dataset.zip

# os.chdir('/content/nima-dataset')
# ! pwd
! zip -rq /content/nima-dataset.zip ./*

In [ ]:
# ! unzip /content/tid.zip -d /content/sample_data/tid/
! rm -rf /content/sample_data/tid
! rm /content/tid.zip

In [ ]:
[i for i in range(1, 10)]

[1, 2, 3, 4, 5, 6, 7, 8, 9]