## Import the libraries

In [1]:
import tensorflow as tf
import tensorflow.keras as keras
from keras.optimizers import Adam
from keras.models import Model
from keras.layers import Dense, Dropout

In [7]:
from loss import earth_movers_distance
from utils.get_dataset import get_ava_dataframe, get_rating_columns

#### Read the file

In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [8]:
df = get_ava_dataframe()
rating_columns = get_rating_columns()
df.head()

,index,image_id,count_rating_1,count_rating_2,count_rating_3,count_rating_4,count_rating_5,count_rating_6,count_rating_7,count_rating_8,count_rating_9,count_rating_10,tag_1,tag_2,challange_id,rating
0,1,953619,0,1,5,17,38,36,15,6,5,1,1,22,1396,5
1,2,953958,10,7,15,26,26,21,10,8,1,2,1,21,1396,4
2,3,954184,0,0,4,8,41,56,10,3,4,0,0,0,1396,6
3,4,954113,0,1,4,6,48,37,23,5,2,2,15,21,1396,5
4,5,953980,0,3,6,15,57,39,6,1,1,1,22,38,1396,5

In [9]:
df.shape

(255530, 16)

### Sample VGG model

In [ ]:
import os
import matplotlib.pyplot as plt
import matplotlib.image as image
from keras.applications.vgg16 import VGG16
from keras.applications.vgg16 import preprocess_input
from keras.applications.vgg16 import decode_predictions
from keras.preprocessing.image import load_img
from keras.preprocessing.image import img_to_array

def get_reshaped_image(image_path, dim):
    image = load_img(image_path, target_size=(dim[0], dim[1]))  # load image from file
    image = img_to_array(image)  # convert pixes to numpy array
    image = image.reshape( ( 1, image.shape[0], image.shape[1], image.shape[2] ) )
    return preprocess_input(image)

target_shape = (224, 224)
model = VGG16()

In [ ]:
image_path = os.path.join(os.path.join("../data/AVA/images"), "124.jpg")
plt.imshow(image.imread(image_path))
image = get_reshaped_image(image_path, target_shape)

# Predict the image
y_hat = model.predict(image)
label = decode_predictions(y_hat)
print(label)
label = label[0][0]

print(f'{label[1]} {label[2]*100:.2f}%')

In [ ]:
base_model = VGG16(
    input_shape=(224, 224, 3),  # Shape of our images
    include_top=False,  # Leave out the last fully connected layer
    weights="imagenet",
    pooling="avg",
)
for layer in base_model.layers:
    layer.trainable = False

x = Dropout(0.75)(base_model)
x = Dense(10, activation="softmax")(x)

#### Compile network

In [ ]:
base_model
base_model.compile(optimizeR=adam(), loss="categorical crossentropy")